@{
    ViewData["Title"] = "Students";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

<ul>
    <li><a asp-controller="Student" asp-action="Details" asp-route-id="1">Student 1</a></li>
    <li><a asp-controller="Student" asp-action="Details" asp-route-id="2">Student 2</a></li>
    <li><a asp-controller="Student" asp-action="Details" asp-route-id="3">Student 3</a></li>
</ul>
